img {
    width: auto;
    height: 100%;
    display: block;
}

textarea { width:40em; height: 10em; display: block; }

nav pre {
    display: inline;
}

form#bot-filter pre {
  outline:1px solid blue;
  overflow-wrap: anywhere;
  padding: 0.4em;
  display: block;
}

form#bot-filter pre {
  outline:1px solid blue;
  overflow-wrap: anywhere;
  padding: 0.4em;
  display: block;
}

.debug-bots-list {
    border: 1px solid black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.8em;
    display: flex; /* or inline-flex */

}

.debug-bots-list > div {
    border: 1px solid black;
    height:
    width: 12.5%;
}

.debug-bots-list > div.big{
    display: block;
    width: 100%;
    /*max-width: 100em;
    min-width: 30em;*/
}

.debug-bots-list > div h3{
    border: 1px solid black;
    text-overflow: clip;
    overflow: hidden
}

.debug-bots-list > div dl {
    border: 1px solid black;
}

.debug-bots-list > div dl dt{
    border: 1px solid blue;
    overflow: hidden;
}

.debug-bots-list > div dl dt[data-state='0']{
    background-color: #abc;
}
.debug-bots-list > div dl dt[data-state='1']{
    background-color: #def;
}

.debug-bots-list > div dl dd[data-key='motors']{
}
.debug-bots-list > div dl dd[data-key='motors'] input {
    width: 3em;
    display: inline;
}


.debug-bots-list > div dl dd{
    overflow: hidden;
    border: 1px solid green;
    display: none;
    margin-inline-start: 0px;
}
.debug-bots-list > div dl dd.state-offline{
    background-color: #d44;
}

.debug-bots-list > div dl .hide {
    display: hidden;
}
.debug-bots-list > div dl .show {
    display: block;
}

.debug-bots-list > div dl dt{
    border: 1px solid blue;
    overflow: hidden;
}

.debug-bots-list .actions a {
    display: block;
}
