<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>

<head>
  {% block head %}
    <link rel="icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='app.less') }}" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>

{#    <link rel="stylesheet" href="{{ url_for('static', filename='app.less') }}">#}
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
