{% extends 'index.html.j2' %}

{% block title %}{{ super() }} - dashboard{% endblock %}

{% block main %}
<main id="dashboard">
    <h1>Dashoard</h1>
    <nav>
        <a href="#bots">Bots</a>
        <a href="#register">Register</a>
        <a href="#botrc">BotRC</a>
    </nav>
    <section id="bots" data-show="1">
        <h2>Filter Bots</h2>
        <form action="#" id="bot-filter">
            <label for="filter">Filter</label>
            <input name="filter" id="filter"/>
            <span id="bot-filter-presets">
                <span data-filter="">all</span>
                <span data-filter="state=online">state=online</span>
                <span data-filter="state=offline">state=offline</span>
            </span>
            <button type="submit" data-method="get" data-action="{{ url_for('bots.get_index') }}">filter</button>
            <button type="submit" data-method="patch" data-action="{{ url_for('bots.post_update') }}">update</button>
        </form>
    </section>
    <section id="register" data-show="0">
        <h2>Register Bots</h2>
        <form action="{{ url_for('bots.post_register') }}" method="post" id="register_form">
            <textarea name="data">
[
    "{{ url_for('mockbot.get_show', name='null', _external=True) }}",
    "{{ mockbots|join("\",\n    \"") }}"
]
            </textarea>
            <button type="submit">Submit</button>
        </form>
    </section>

    <section id="botrc" data-show="0">
        <h2>Remote control bot</h2>
        <form action="#" method="post" id="register_form">
            <input name="bot_address" id="bot_address"/>
            <textarea name="sequence">
[
  [1,-1,3]
]
            </textarea>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>
{% endblock %}

