{% extends 'base.html.j2' %}
{% block title %}mockbots test result{% endblock title %}

{% macro position(bot, captcha) %}
    <pre class="position">
pos: {{ captcha.position }}
{% for check in captcha.position_checks if check.usable %}
{{ check.usable }} solved:{{ check.rs_position }} snpos:{{ check.snapshot_pos.txt }} r{{ check.rotation }} s{{ check.read_style }}
{{ check.note }}

{{ check.pattern.txt() }}

bit values:
{% for section in check.sections -%}
{{ section.bit_raw }} {{ section.bit_value }} {{ section.bit_check }} {{ section.check_expect }} {{ section.bit_int }} {{ section.grid_value().txt }}
{% endfor %}



{% endfor %}
        </div>
</pre>

{% endmacro %}

{% macro print_board(board, name) %}
    <div>
        <span>{{ name }}</span>
        <pre>{{ board|replace('2', '.')|replace('0', 'o') }}</pre>
    </div>
{% endmacro %}
{% macro image_link(bot, name) %}
    {% set img_path = bot.picture() ~ '_' ~ name ~ '.jpg' %}
    {% if '' == name %}
        {% set img_path = bot.picture() %}
        {% set name = 'raw' %}
    {% endif %}
    <a href="{{ img_path }}" target="_blank">
        <span>{{ name }}</span>
        <img src="{{ img_path }}"/>
    </a>
{% endmacro %}


{% block body %}
    <main>
        <nav id="dbg"></nav>
        <span>sum: {{ result|length }}</span>
        {% for bot, captcha, res, ang_res, target_pos in result %}
            <section class="result test-{{ 'pass' if res and ang_res else 'fail' }}">
        <span class="title">
            <span class="name">{{ bot.name }}:</span>
            <span class="test_result">{{ 'ok' if res else 'F' }}</span>
            <span class="test_result">{{ 'ok' if ang_res else 'F' }}</span>
            <span class="pos">cp:{{ captcha.position.txt }}</span>
            <span class="pos">tp:{{ target_pos.txt }}</span>
            <span class="pos">tp:{{ captcha.position_checks|length }}</span>
            <span class="angle">rot:{{ captcha.rotation }}</span>
            <span class="angle">ca:{{ captcha.angle }}</span>
            <span class="angle_points">ap:{{ captcha.angle_points[0].txt }} {{ captcha.angle_points[1].txt }} {{ captcha.angle_points[2].txt }}</span>
        </span>
                <div class="content">

                    <div class="txt_grids">
                        {{ print_board(bot.pattern.txt(), 'target') }}
                        {{ print_board(captcha.board.txt(), 'result') }}
                        {{ print_board(captcha.grid_txt, 'raw') }}
                    </div>

                    <div class="pictures">
                        {{ image_link(bot, 'angle') }}
                        {{ image_link(bot, 'markers') }}
                        {{ image_link(bot, 'pos') }}
                        {{ image_link(bot, 'value') }}
                        {{ image_link(bot, 'grid') }}
                        {{ image_link(bot, 'grid_expect') }}
                        {{ image_link(bot, '') }}
                    </div>
                    {{ position(bot, captcha) }}

                    <div class="markers" style="display: none">
                        {% for m in captcha.markers %}
                            <span class="pos">{{ m.pos }}</span>
                            <span class="value">{{ m.valid_size }}</span>
                            <span class="value">{{ m.radius }}</span>
                            <span class="value">{{ m.value }}</span>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endfor %}
    </main>

{% endblock body %}

{% block head %}

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            function createElement(type, options) {
                var element = document.createElement(type)
                if (options) {
                    if (options['attributes'] !== undefined) {
                        for (name in options.attributes) {
                            element.setAttribute(name, options.attributes[name])
                        }
                    }
                    if (options['classes'] !== undefined) {
                        for (c of options.classes) {
                            element.classList.add(c);
                        }
                    }
                    if (options['id'] !== undefined) {
                        element.id = options.id
                    }
                    if (options['txt'] !== undefined) {
                        element.appendChild(document.createTextNode(options.txt))
                    }
                    if (options['src'] !== undefined) {
                        element.src = options.src
                    }
                    if (options['dataset'] !== undefined) {
                        for (d in options.dataset) {
                            element.dataset[d] = options.dataset[d]
                        }
                    }
                    if (options['click'] !== undefined) {
                        element.addEventListener('click', options.click)
                    }
                    if (options['children'] !== undefined) {
                        for (child of options.children) {
                            element.appendChild(child)
                        }
                    }
                }

                return element
            }

            function traverse_results() {
                var elementList = document.querySelectorAll("section.result")
                elementList.forEach(function (node, idx) {
                    var show = node.classList.contains('test-pass') ? "none" : "block"
                    var result = node.querySelector(".content")

                    //result.style.display = show
                    result.style.display = 'none'
                });
            }

            function create_debug_bar() {
                all_on = createElement('span', {
                    txt: 'all_on',
                    click: function (event) {
                        event.preventDefault()

                        var elementList = document.querySelectorAll("section.result .content")
                        elementList.forEach(function (node, idx) {
                            node.style.display = 'block'
                        });
                    }
                });

                all_off = createElement('span', {
                    txt: 'all_off',
                    click: function (event) {
                        event.preventDefault()

                        var elementList = document.querySelectorAll("section.result .content")
                        elementList.forEach(function (node, idx) {
                            node.style.display = 'none'
                        });
                    }
                });

                on_off = createElement('span', {
                    txt: 'on/off',
                    click: function (event) {
                        event.preventDefault()
                        traverse_results()
                    }
                });

                dbg = document.getElementById('dbg')
                dbg.appendChild(all_on)
                dbg.appendChild(all_off)
                dbg.appendChild(on_off)


            }

            function add_click_title() {
                var elementList = document.querySelectorAll("section.result")
                elementList.forEach(function (node, idx) {
                    var title = node.querySelector(".title")
                    title.addEventListener('click', function (event) {
                        event.preventDefault()
                        var show = node.style.display == 'block' ? 'none' : 'block'
                        console.log('show', show, node.style.display, node.style)
                        var result = node.querySelector(".content")
                        result.style.display = show
                    })
                });

            }

            traverse_results()
            create_debug_bar()
            add_click_title()
        });

    </script>
    <style>
        section {
            display: block;
            font-family: monospace;
        }

        section.test-fail {
            background-color: #fcb1b1;
            margin-bottom: 1px;
        }

        section.test-pass {
            background-color: #a3ffbf;
        }

        #section.test-pass > .content {
            display: none;
        }

        section > .title {
            display: block;
        }

        section > .title > span {
            display: inline-block;
            width: 4em;
            height: 1em;
        }

        section > .title > span.name {
            width: 6em;
        }

        section > .title > span.test_result {
            width: 2em;
        }

        section > .title > span.pos {
            width: 4em;
        }

        section > .title > span.angle {
            width: 5em;
            overflow: hidden;
        }

        section > .title > span.angle_points {
            width: 17em;
        }

        .pictures {
            display: inline-flex;
            height: 12em;
        }

        .pictures a {
            width: 10em;
            height: 10em;
            display: inline-block
        }

        .pictures a span {
            display: inline-block;
        }

        .pictures a img {
            width: 10em;
            height: 10em;
            display: inline-block
        }

        .txt_grids > div {
            display: inline-block
        }

    </style>
{% endblock head %}
