{% extends 'base.html.j2' %}

{% block title %}chessbots{% endblock %}

{% block body %}
    {% block nav %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">index</a></li>
            <li><a href="{{ url_for('dashboard.get_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('bots.get_index') }}">Bots index</a></li>
        </ul>
    </nav>
    {% endblock %}

    {% block main %}
    <main>
        <h1>Chessbots</h1>
        <p>some project.. o_O</p>
    </main>
    {% endblock %}
{% endblock %}
