{% extends 'base.html.j2' %}


{% block body %}
    <main>
        <nav id="dbg"></nav>
        <span>sum: {{ result|length }}</span>
        {% for content in result %}
            {{ content }}
        {% endfor %}

    </main>

{% endblock body %}

{% block head %}

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            function createElement(type, options) {
                var element = document.createElement(type)
                if (options) {
                    if (options['attributes'] !== undefined) {
                        for (name in options.attributes) {
                            element.setAttribute(name, options.attributes[name])
                        }
                    }
                    if (options['classes'] !== undefined) {
                        for (c of options.classes) {
                            element.classList.add(c);
                        }
                    }
                    if (options['id'] !== undefined) {
                        element.id = options.id
                    }
                    if (options['txt'] !== undefined) {
                        element.appendChild(document.createTextNode(options.txt))
                    }
                    if (options['src'] !== undefined) {
                        element.src = options.src
                    }
                    if (options['dataset'] !== undefined) {
                        for (d in options.dataset) {
                            element.dataset[d] = options.dataset[d]
                        }
                    }
                    if (options['click'] !== undefined) {
                        element.addEventListener('click', options.click)
                    }
                    if (options['children'] !== undefined) {
                        for (child of options.children) {
                            element.appendChild(child)
                        }
                    }
                }

                return element
            }

            function traverse_results() {
                var elementList = document.querySelectorAll("section.result")
                elementList.forEach(function (node, idx) {
                    var show = node.classList.contains('test-pass') ? "none" : "block"
                    var result = node.querySelector(".content")

                    //result.style.display = show
                    result.style.display = 'none'
                });
            }

            function create_debug_bar() {
                all_on = createElement('span', {
                    txt: 'all_on',
                    click: function (event) {
                        event.preventDefault()

                        var elementList = document.querySelectorAll("section.result .content")
                        elementList.forEach(function (node, idx) {
                            node.style.display = 'block'
                        });
                    }
                });

                all_off = createElement('span', {
                    txt: 'all_off',
                    click: function (event) {
                        event.preventDefault()

                        var elementList = document.querySelectorAll("section.result .content")
                        elementList.forEach(function (node, idx) {
                            node.style.display = 'none'
                        });
                    }
                });

                on_off = createElement('span', {
                    txt: 'on/off',
                    click: function (event) {
                        event.preventDefault()
                        traverse_results()
                    }
                });

                dbg = document.getElementById('dbg')
                dbg.appendChild(all_on)
                dbg.appendChild(all_off)
                dbg.appendChild(on_off)


            }

            function add_click_title() {
                var elementList = document.querySelectorAll("section.result")
                elementList.forEach(function (node, idx) {
                    var title = node.querySelector(".title")
                    title.addEventListener('click', function (event) {
                        event.preventDefault()
                        var show = node.style.display == 'block' ? 'none' : 'block'
                        console.log('show', show, node.style.display, node.style)
                        var result = node.querySelector(".content")
                        result.style.display = show
                    })
                });

            }

            traverse_results()
            create_debug_bar()
            add_click_title()
        });

    </script>
    <style>
        section {
            display: block;
            font-family: monospace;
        }

        section.test-fail {
            background-color: #fcb1b1;
            margin-bottom: 1px;
        }

        section.test-pass {
            background-color: #a3ffbf;
        }

        #section.test-pass > .content {
            display: none;
        }

        section > .title {
            display: block;
        }

        section > .title > span {
            display: inline-block;
            width: 4em;
            height: 1em;
        }

        section > .title > span.name {
            width: 6em;
        }

        section > .title > span.test_result {
            width: 2em;
        }

        section > .title > span.pos {
            width: 4em;
        }

        section > .title > span.angle {
            width: 5em;
            overflow: hidden;
        }

        section > .title > span.angle_points {
            width: 17em;
        }

        .pictures {
            display: inline-flex;
            height: 12em;
        }

        .pictures a {
            width: 10em;
            height: 10em;
            display: inline-block
        }

        .pictures a span {
            display: inline-block;
        }

        .pictures a img {
            width: 10em;
            height: 10em;
            display: inline-block
        }

        .txt_grids > div {
            display: inline-block
        }

    </style>
{% endblock head %}
