{% extends 'base.html' %}

{% block title %}chessbots{% endblock %}

{% block body %}
    {% block main %}
    <main>
        <h1>Chessbots</h1>
        <p></p>
        <div class="pgn", data-player="w">
            [Event "Simultaneous"]
            [Site "Budapest HUN"]
            [Date "1934.??.??"]
            [EventDate "?"]
            [Round "?"]
            [Result "1-0"]
            [White "Esteban Canal"]
            [Black "NN"]
            [ECO "B01"]
            [WhiteElo "?"]
            [BlackElo "?"]
            [PlyCount "27"]

            1.e4 d5 2.exd5 Qxd5 3.Nc3 Qa5 4.d4 c6 5.Nf3 Bg4 6.Bf4 e6 7.h3
            Bxf3 8.Qxf3 Bb4 9.Be2 Nd7
        </div>
    </main>
    {% endblock %}
{% endblock %}
