img {
  width: 100%;
  height: 100%;
  display: block;
}

#dashboard {
  > nav {
    a {
      font-size: 1.5em;
    }

    a:active {
      color: #000;
    }
  }

  > section[data-show='1'] {
    display: block;
  }

  > section[data-show='0'] {
    display: none;
  }
}

#register_form textarea {
  width: 40em;
  height: 10em;
  display: block;
}

.debug-bots-list {
  outline: 1px solid black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 0.8em;
  display: flex;
  gap: 3px 3px;
  flex-wrap: wrap;

  > div {
    outline: 1px solid black;
    height: auto;
    flex: 1 20%;

    > * {
      margin: 0;
    }

    > h3 {
      text-overflow: clip;
      overflow: hidden;
      background-color: #bcd;
    }

    > dl {
      > dt,
      > dd {
        overflow: hidden;
        margin-inline-start: 0;
        outline: 1px solid blue;
      }

      > dt[data-show='0'] {
        background-color: #abc;
      }

      > dt[data-show='1'] {
        background-color: #def;
      }

      > dd {
        display: none;
      }

      > dt[data-show='0'] + dd {
        display: none;
      }

      > dt[data-show='1'] + dd {
        display: block;
      }
    }
  }
}

#board {
  .status {
    background: #ff5a08;
  }
  .status.playable {
    background: #a3ffbf;
  }
  .pieces {
    display: flex;
    flex-flow: column wrap;
    height: 16em;
    width: 20em;
    border: black dotted 1px;

    .piece-item {
      background: #ff5a08;
      outline: #bab9be dotted 1px;
      .title {
        display: inline-block;
        width: 2.6em;
      }

      .title:before {
        display: inline;
      }
      .field {
        display: inline-block;
        width: 2em;
      }
      height: 1em;
    }
    .piece-item.wk,
    .piece-item.wq,
    .piece-item.wb,
    .piece-item.wn,
    .piece-item.wr,
    .piece-item.wp
    {
      order: 1;
    }
    .piece-item.bk,
    .piece-item.bq,
    .piece-item.bb,
    .piece-item.bn,
    .piece-item.br,
    .piece-item.bp
    {
      order: 2;
    }

    .piece-item.found {
      background: #53ff72;
    }

    .piece-item.wk .title:before { content: "\2654"; }
    .piece-item.wq .title:before { content: "\2655"; }
    .piece-item.wb .title:before { content: "\2657"; }
    .piece-item.wn .title:before { content: "\2658"; }
    .piece-item.wr .title:before { content: "\2656"; }
    .piece-item.wp .title:before { content: "\2659"; }
    .piece-item.bk .title:before { content: "\265A"; }
    .piece-item.bq .title:before { content: "\265B"; }
    .piece-item.bb .title:before { content: "\265D"; }
    .piece-item.bn .title:before { content: "\265E"; }
    .piece-item.br .title:before { content: "\265C"; }
    .piece-item.bp .title:before { content: "\265F"; }


  }
  .board-bots {
    position: relative;
    top: -100vh;
    display: block;
    width: 100vh;
    height: 100vh;
    .bot {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: #851221 solid 3px;
      position: absolute;
      font-size: 20px;
    }

    .bot.found {
      border: #53ff72 dotted 1px;
    }

    .bot:before { display: block; }
    .bot.wk:before { content: "\2654"; }
    .bot.wq:before { content: "\2655"; }
    .bot.wb:before { content: "\2657"; }
    .bot.wn:before { content: "\2658"; }
    .bot.wr:before { content: "\2656"; }
    .bot.wp:before { content: "\2659"; }
    .bot.bk:before { content: "\265A"; }
    .bot.bq:before { content: "\265B"; }
    .bot.bb:before { content: "\265D"; }
    .bot.bn:before { content: "\265E"; }
    .bot.br:before { content: "\265C"; }
    .bot.bp:before { content: "\265F"; }

  }
  .board-view {
    display: block;
    width: 100vh;
    height: 100vh;

    .column {
      display: block;
      height: 10%;
      clear: both;
      .field {
        display: block;
        float: left;
        width: 10%;
        height: 100%;
        background: #a5b2cb;
        margin: 0;
        padding: 0;
        outline: #6495ed 1px dashed;
      }

      .field.piece {
        outline: red dotted 3px;
      }
      .field.piece.found {
        outline: darkgreen dashed 2px;
      }

      .field.wk:after { content: "\2654"; }
      .field.wq:after { content: "\2655"; }
      .field.wb:after { content: "\2657"; }
      .field.wn:after { content: "\2658"; }
      .field.wr:after { content: "\2656"; }
      .field.wp:after { content: "\2659"; }
      .field.bk:after { content: "\265A"; }
      .field.bq:after { content: "\265B"; }
      .field.bb:after { content: "\265D"; }
      .field.bn:after { content: "\265E"; }
      .field.br:after { content: "\265C"; }
      .field.bp:after { content: "\265F"; }

      .field.bx1, .field.dx1, .field.fx1, .field.hx1,
      .field.ax2, .field.cx2, .field.ex2, .field.gx2,
      .field.bx3, .field.dx3, .field.fx3, .field.hx3,
      .field.ax4, .field.cx4, .field.ex4, .field.gx4,
      .field.bx5, .field.dx5, .field.fx5, .field.hx5,
      .field.ax6, .field.cx6, .field.ex6, .field.gx6,
      .field.bx7, .field.dx7, .field.fx7, .field.hx7,
      .field.ax8, .field.cx8, .field.ex8, .field.gx8
        { background: #fff; }

      .field.ax1, .field.cx1, .field.ex1, .field.gx1,
      .field.bx2, .field.dx2, .field.fx2, .field.hx2,
      .field.ax3, .field.cx3, .field.ex3, .field.gx3,
      .field.bx4, .field.dx4, .field.fx4, .field.hx4,
      .field.ax5, .field.cx5, .field.ex5, .field.gx5,
      .field.bx6, .field.dx6, .field.fx6, .field.hx6,
      .field.ax7, .field.cx7, .field.ex7, .field.gx7,
      .field.bx8, .field.dx8, .field.fx8, .field.hx8
        { background: #c7c6cb; }



    }
  }
}